<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridhoafnidev.project.feature.persyaratan">

    <application>
        <activity
            android:name=".PersyaratanActivity"
            android:exported="false" />
    </application>

</manifest>